<% provide(:title, "Alumni") %>
<div class="large-10 columns">
  <h1>CS Alumni</h1>

  <%= will_paginate @collection, renderer: FoundationPagination::Rails %>

  <ul class="users clearfix">
    <%= render @users %>
  </ul>

  <%= will_paginate @collection, renderer: FoundationPagination::Rails %>

</div>

