@import "foundation";

/*   user pages  */

//.gravatar {
//		margin-right: 10px;
//}

.user-data {
		text-align: center;
		margin: auto;
}
 
/*   forms    */


.field_with_errors {
		@extend .error;
}

.form-errors {
	margin-left: 20px;
}



/*   footer   */

.custom-list {
		@include inline-list;
		font-size: .8em;
	
}

