
<div class="row clearfix">
	<div class="large-12 columns clearfix">
		<hr>
		<div class="large-10 columns">
			<h5>
				<small>
					For more information on the Harding University Computer Science department 
					please visit <%= link_to "www.harding.edu/comp", 'https://www.harding.edu/comp' %>
				</small>
			</h5>
		</div>
		<div class="large-2 columns right">
			<ul class="inline-list custom-list">
			  <li><%= link_to 'About', about_path %></li>
			  <li><%= link_to 'Sign in', '#' %></li>
			</ul>
		</div>
		
	</div>
</div>